@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&display=swap");

.nav-container {
 
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0px 15px 10px -15px #111;
  height: 4rem;
}

.brand {
  all: unset;
  font-family: "Permanent Marker", cursive;
}

.nav-right {
  display: flex;
  min-width: 20rem;
  justify-content: space-between;
  align-items: center;
  font-size: 1.5rem;
}

.login-btn {
  background-color: grey;
  padding: 0.2rem 1rem;
  color: white;
  font-size: 1rem;
}
