.nav-center {
  border: 1px solid grey;
  border-radius: 0.2rem;
  padding: 0.5rem 0.3rem;
  flex-grow: 1;
  margin: 0rem 3rem;
  position: relative;
  display: flex;
  align-items: center;
}
.nav-center input {
  all: unset;
  flex-grow: 1;
}

.nav-center .search-result,
.nav-center .no-results {
  padding-left: 0;
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  translate: 0px 110%;
  border-radius: 0.3rem;
}
.nav-center .search-result {
  height: 15rem;
  overflow-y: scroll;
}

.nav-center .search-result::-webkit-scrollbar {
  display: none;
}

.nav-center .search-result a:hover {
  background-color: lightgray;
}
.nav-center .no-results {
  padding: 0.5rem;
  background-color: white;
  font-size: larger;
}
.search-card {
  background-color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  cursor: pointer;
  padding: 0.5rem;
}

@media screen and (width < 400px) {
  .nav-center {
    margin: 0rem 2rem;
  }
  .nav-center input {
    width: 5rem;
  }
}
