.product-card {
  width: 15rem;
  border: 1px solid black;
}
.product-card__img-container {
  width: 100%;
  position: relative;
}

.product-card__img-container .wish-list-btn {
  all: unset;
  /* background-color: white; */
  position: absolute;
  top: 0.5rem;
  right: 0.5rem;
}
.product-card__img-container .rating {
  all: unset;
  /* background-color: white; */
  position: absolute;
  bottom: 0;
  right: 0;
}

.product-card__img-container img {
  width: 100%;
}
.product-card__data {
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.product-card__data__middle {
  display: flex;
  justify-content: space-between;
}
.product-card__data__middle .off {
  margin: 0;
}
.product-card__data__middle .price-details .strike-price {
  text-decoration: line-through;
  color: grey;
  margin-left: 0.1rem;
}

.product-card__data button {
  /* all: unset; */
}
