.product-layout {
  display: flex;
}

.product-layout--filter {
  background-color: gainsboro;
  padding: 0.2rem 2rem;
}
.product-layout--display {
  /* flex-grow: 1; */
  padding: 0.5rem 3rem;
}

.product-layout--display .product-layout--products {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}
