.product-layout {
  display: flex;
  position: relative;
}
.filter-container {
  flex-basis: 250px;
  flex-shrink: 0;
}

.product-layout--filter {
  background-color: gainsboro;
  padding: 0.2rem 2rem;
  width: 250px;
  height: 100%;
}
.product-layout--display {
  /* flex-grow: 1; */
  padding: 0.5rem 3rem;
}

.product-layout--display .product-layout--products {
  display: flex;
  gap: 3rem;
  flex-wrap: wrap;
}

.mobile--filter--btn .filter--btn {
  position: fixed;
  top: 90vh;
  right: 1rem;
  display: none;
}

@media screen and (width < 770px) {
  .product-layout--filter {
    height: 100%;
    position: static;
  }
  .mobile--filter--btn .filter--btn {
    display: block;
  }
  .filter-container {
    display: none;
  }
}
